<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <form action="/sign-up" method="post">
        <label for="userId">id: </label><br>
        <input type="text" id="userId" name="userId"><br>
        <label for="pw">pw:</label><br>
        <input type="text" id="pw" name="pw"><br>
        <label for="name">이름: </label><br>
        <input type="text" id="name" name="name"><br>
        <label for="gender">성별:</label><br>
        <input type="text" id="gender" name="gender"><br>
        <label for="age">나이:</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="phone">전화:</label><br>
        <input type="text" id="phone" name="phone"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>